<header>
  <h1>Warehouse Inventory</h1>
  <nav>
    <ul>
      <li><a href="/">Main Page</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/pallets">Pallets</a></li>
    </ul>
  </nav>
</header>
