*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  font-family: system-ui, "Segoe UI", Roboto, Arial;
  font-size: 16px;
  min-height: 100vh;
}

.flex-column-center,
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.25rem 0.75rem;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;

  &[type="submit"] {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: lightcyan;
  }
}

input[type="number"] {
  width: 10ch;
}

label {
  font-size: 1.25rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-top: 2rem;
  border-top: 1px solid black;
  padding-block: 1rem;

  background-color: lightgray;

  a {
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}
