header {
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
}

nav {
  width: 100%;
  display: flex;

  a {
    display: block;
    width: 100%;
    padding-block: 1rem;

    background-color: lightblue;
    color: black;
    border-inline: 1px solid black;
    border-bottom: 1px solid black;

    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      background-color: white;
    }
  }

  > * {
    flex: 1 1 0;
  }
}

.dropdown-menu {
  position: relative;

  &:hover > .dropdown {
    visibility: visible;
  }
}

.dropdown {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}
