<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Warehouse Inventory</title>
  </head>
  <body>
    <%- include ("partials/header.ejs") %>
    <div class="main">
      <% tables.forEach(({title, tableData}) => { %>
        <h1><%= title %></h1>
        <%- include("partials/table.ejs", { tableData }) %>
      <% }) %>
    </div>
  </body>
</html>
