<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <%- include ("partials/header.ejs") %>
    <div class="flex-column-center"><%- include("partials/error.ejs") %></div>
  </body>
</html>
