<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Warehouse Inventory</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="main">
      <h1>Current Tasks</h1>
      <%- include("partials/table.ejs", { tableData: tasks }) %>
      <h1>Current Incoming Orders</h1>
      <%- include("partials/table.ejs", { tableData: inOrders }) %>
      <h1>Current Outgoing Orders</h1>
      <%- include("partials/table.ejs", { tableData: outOrders }) %>
    </div>
  </body>
</html>
