<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add New Order</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="main">
      <h1>Add New Order</h1>
      <form action="/orders/new" method="post">
        <fieldset>
          <legend>Order Type</legend>
          <label>
            <input type="radio" name="o_type" value="IN" required />
            Incoming
          </label>
          <label>
            <input type="radio" name="o_type" value="OUT" required />
            Outgoing
          </label>
        </fieldset>
        <div id="productInputs"></div>
        <button type="button" id="addProduct">Add another product</button>
        <button type="submit">Submit</button>
      </form>
    </div>
    <%- include("partials/orderFormScript.ejs") %>
  </body>
</html>
