<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index Screen</title>
    <body>
      <div class="main">
        <h1>Welcome to web app</h1>
        <div class="content">
          <ul>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/users">Users</a></li>
          </ul>
        </div>
      </div>
    </body>
  </head>
</html>
